.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header .header-inner {
    display: flex;
    align-items: center;
    padding: 20px 0;
    transition: var(--transition-default);
}

.header.is-scroll .header-inner {
    padding: 10px 0;
}

.header .header-logo img {
    height: 55px;
    transition: var(--transition-default);
}

.header .header-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: auto;
    position: relative;
}

.header .header-navigation .header-navigation_line {
    position: absolute;
    display: block;
    content: "";
    height: 3px;
    background-color: var(--primary-color);
    left: 0;
    bottom: -10px;
    -webkit-transition: var(--transition-default);
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.header .header-navigation .header-navigation_line.show {
    opacity: 1;
    visibility: visible;
}

.header .header-navigation ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.header .header-navigation > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 25px;
}

.header .header-navigation > ul > li {
    position: relative;
    width: 100%;
}

.header .header-navigation > ul > li > a,
.header .header-navigation > ul > li > button {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: var(--bs-white);
    font-size: 1.075em;
    white-space: nowrap;
    border: 0;
    box-shadow: none;
    background-color: transparent;
    outline: none;
    gap: 6px;
    letter-spacing: 0.025em;
}

.header .header-navigation > ul > li > a > i,
.header .header-navigation > ul > li > button > i {
    transition: var(--transition-default);
}

.header .header-navigation > ul > li > ul > li {
    width: 100%;
}

.header .header-navigation > ul > li > ul > li > a {
    padding: 10px 20px;
    color: var(--bs-black);
    font-size: 1.075em;
    font-weight: 700;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.header .header-navigation > ul > li > ul > li > a:hover {
    padding-left: 28px;
    color: var(--primary-color);
}

.header .header-toolbar {
    margin-left: 45px;
    display: flex;
    align-items: center;
    gap: 15px;
}


.header .header-toolbar .header-language .header-language_link {
    line-height: 1;
    border-radius: 4px;
    padding: 3px 6px;
    color: var(--bs-white);
    border: 1px solid var(--bs-white);
    font-weight: 500;
}

.header .header-toolbar .header-language .header-language_link:hover {
    color: var(--bs-white) !important;
    background-color: var(--primary-color);
    border-color: var(--primary-color) !important;
}

.is-page .header,
.header.is-scroll {
    background-color: var(--bs-white);
    box-shadow: 0 12px 16px -4px rgba(16, 24, 40, .1), 0 4px 6px -2px rgba(16, 24, 40, .05);
}

.is-page .header {
    position: sticky;
}

.is-page .header .header-navigation > ul > li > a,
.is-page .header .header-navigation > ul > li > button,
.header.is-scroll .header-navigation > ul > li > a,
.header.is-scroll .header-navigation > ul > li > button {
    color: var(--bs-black);
}

.is-page .header .header-toolbar .header-language .header-language_link,
.header.is-scroll .header-toolbar .header-language .header-language_link {
    color: var(--bs-black);
    border-color: var(--bs-black);
}

.section-gap {
    padding: 50px 0;
}

.section-heading {
    margin-bottom: 45px;
}

.section-heading.section-heading_center {
    text-align: center;
}

.section-heading.section-heading_center .heading-title {
    justify-content: center;
}

.section-heading.section-heading_small .heading-title {
    font-size: 2.5em;
}

.section-heading.section-heading_white .heading-title {
    color: var(--bs-white);
}

.section-heading.section-heading_white .heading-desc {
    color: var(--bs-white);
}

.section-heading .heading-title {
    font-size: 2.85em;
    font-weight: 700;
    color: #262626;
    display: flex;
    justify-content: space-between;
    gap: 6px;
    flex-wrap: wrap;
}

.section-heading .heading-title .heading-link {
    align-self: flex-end;
    font-size: 16px;
    padding: 5px 10px 5px 0;
    display: inline-flex;
    color: var(--bs-black);
    font-weight: 500;
    letter-spacing: .05em;
    position: relative;
    white-space: nowrap;
}

.section-heading .heading-title .heading-link:after {
    background-color: var(--primary-color);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    font-size: 16px;
    color: var(--bs-white);
    font-weight: 500;
    font-family: "Font Awesome 5 Pro";
    content: '\f105';
    animation: shineButton 2.4s cubic-bezier(0, 0, .5, 1.02) infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    transition: var(--transition-default);
}

.section-heading .heading-title .heading-link:hover {
    color: var(--primary-color);
}

.section-heading .heading-title .heading-link:hover:after {
    transform: translateX(5px);
}

.section-heading .heading-sub {
    font-size: 1.75em;
    color: var(--primary-color);
    font-weight: 700;
    margin-top: 24px;
    line-height: 1.3;
}

.section-heading .heading-sub p:last-child,
.section-heading .heading-sub ul:last-child,
.section-heading .heading-sub ol:last-child {
    margin-bottom: 0;
}

.section-heading .heading-desc {
    font-size: 1.3em;
    line-height: 1.6;
    font-weight: 500;
    margin-top: 24px;
}

.section-heading .heading-desc p:last-child,
.section-heading .heading-desc ul:last-child,
.section-heading .heading-desc ol:last-child {
    margin-bottom: 0;
}

.section-heading .heading-button {
    margin-top: 24px;
}

.section-heading.section-heading_white .heading-title {
    color: var(--bs-white);
}

.section-heading .heading-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 24px;
}

.section-heading .heading-tab .heading-tab_link {
    font-size: 1.3em;
    color: #8D8D8D;
    font-weight: 700;
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
    transition: var(--transition-default);
}

.section-heading .heading-tab .heading-tab_link:before {
    position: absolute;
    height: 1px;
    width: 48%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    content: "";
    background-color: var(--primary-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition-default);
}

.section-heading .heading-tab .heading-tab_link.active,
.section-heading .heading-tab .heading-tab_link:hover {
    color: var(--primary-color);
}

.section-heading .heading-tab .heading-tab_link.active:before {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

@keyframes shineButton {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 85, 199, .2)
    }

    30% {
        box-shadow: 0 0 0 5px rgba(0, 85, 199, .2)
    }

    45% {
        box-shadow: 0 0 0 5px rgba(0, 85, 199, .05)
    }

    65% {
        box-shadow: 0 0 0 5px rgba(0, 85, 199, 0)
    }
}

.section-decor {
    position: relative;
}

.section-decor .decor-bottom {
    position: absolute;
    width: 280px;
    max-width: 40vw;
    z-index: -1;
    pointer-events: none;
    user-select: none;
    left: -140px;
    bottom: -120px;
}

.section-decor .decor-top {
    position: absolute;
    width: 280px;
    max-width: 40vw;
    z-index: -1;
    pointer-events: none;
    user-select: none;
    right: -140px;
    top: -110px;
}

.slider-theme .slider-navigation .slider-navigation_button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    outline: none;
    border: none;
    width: 44px;
    height: 44px;
    background-color: var(--bs-white);
    border-radius: 50%;
    -webkit-box-shadow: 0 4px 8px 0 rgb(48 56 70 / 25%);
    box-shadow: 0 4px 8px 0 rgb(48 56 70 / 25%);
    -webkit-transition: var(--transition-default);
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    cursor: pointer;
    font-size: 1.45em;
    color: var(--bs-black);
    border: 0;
}

.slider-theme .slider-navigation .slider-navigation_button:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    background-color: var(--primary-color);
    z-index: -1;
    -webkit-clip-path: circle(0 at 50% 50%);
    clip-path: circle(0 at 50% 50%);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.slider-theme .slider-navigation .slider-navigation_button:hover {
    color: var(--bs-white);
}

.slider-theme .slider-navigation .slider-navigation_button:hover:before {
    -webkit-clip-path: circle(100% at 50% 50%);
    clip-path: circle(100% at 50% 50%);
}

.slider-theme .slider-navigation .slider-navigation_button.slider-navigation_prev {
    left: -22px;
}

.slider-theme .slider-navigation .slider-navigation_button.slider-navigation_next {
    right: -22px;
}

.slider-theme .slider-navigation .slider-navigation_button {
    transform: translateY(calc(-50% + 20px));
    transition: var(--transition-default);
    opacity: 0;
    visibility: hidden;
}

.slider-theme:hover .slider-navigation .slider-navigation_button {
    transform: translateY(-50%);
    opacity: 1;
    visibility: visible;
}

.slider-hero .slider-navigation .slider-navigation_button.slider-navigation_next,
.slider-project .slider-navigation .slider-navigation_button.slider-navigation_next {
    right: 15px;
}

.slider-hero .slider-navigation .slider-navigation_button.slider-navigation_prev,
.slider-project .slider-navigation .slider-navigation_button.slider-navigation_prev {
    left: 15px;
}

.slider-hero .hero-item {
    position: relative;
}

.slider-hero .hero-item .hero-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-fill-mode: forwards;
    -webkit-backface-visibility: hidden;
    opacity: 0 !important;
    transform: translate3d(0, 70px, 0);
    transition: transform .8s cubic-bezier(0, .195, 0, 1.465), opacity .5s ease-in;
}

.slider-hero .swiper-slide-active .hero-item .hero-content {
    animation-delay: .1s;
    opacity: 1 !important;
    transform: translateZ(0) scale(1);
    will-change: filter, transform, opacity;
}

.slider-hero .hero-item .hero-content .hero-content_title {
    font-size: 2em;
    color: var(--bs-white);
    font-weight: 700;
    line-height: 1.4;
}

.slider-hero .hero-item .hero-content .hero-content_button {
    margin-top: 12px;
}

.service-item {
    border-radius: 16px 0 16px 0;
}

.service-item:before {
    background-color: rgba(0, 0, 0, .5);
    transition: var(--transition-default);
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.service-item .service-image .ratio {
    --bs-aspect-ratio: calc(365 / 293 * 100%)
}

.service-item.service-item_small .service-image .ratio {
    --bs-aspect-ratio: calc(213 / 293 * 100%)
}

.service-item .service-title {
    font-size: 1.675em;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition-default);
}

.service-item:hover:before,
.service-item:hover .service-title {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.section-counter {
    background-attachment: fixed;
}

.section-counter .counter-inner {
    background: rgba(22, 22, 22, .5);
    padding: 30px 0;
}

.section-counter .counter-inner .counter-item .counter-item_title {
    font-size: 1.3em;
    margin-bottom: 32px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    font-weight: 500;
}

.section-counter .counter-inner .counter-item .counter-item_number {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 3.5em;
    letter-spacing: .05em;
}

.section-counter .counter-inner .counter-item .counter-item_currency {
    font-size: 1.15em;
}

.section-counter .counter-inner .counter-desc {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    color: var(--bs-white);
    transform: translateX(100%);
}

.section-counter.section-counter_2 .counter-inner {
    padding: 80px 0;
}

.section-counter.section-counter_2 .counter-inner .counter-item .counter-item_title {
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid rgba(255, 255, 255, 1);
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: unset;
}

.section-counter.section-counter_2 .counter-inner .counter-item .counter-item_wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.section-counter.section-counter_2 .counter-inner .counter-item .counter-item_number {
    font-size: 4.5em;
}

.section-counter.section-counter_2 .counter-inner .counter-item .counter-item_currency {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 1.45em;
}

.section-counter.section-counter_2 .counter-inner .counter-desc {
    transform: translate(0);
    font-size: 1.15em;
}

.section-shareholder .shareholder-list {
    display: flex;
    flex-direction: column;
}

.section-shareholder .shareholder-list .shareholder-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 1.3em;
    font-weight: 700;
    color: var(--bs-black);
    padding-bottom: 15px;
}

.section-shareholder .shareholder-list .shareholder-list-item > i {
    flex-shrink: 0;
    font-size: 1.45em;
}

.section-shareholder .shareholder-list .shareholder-list-item:hover {
    color: var(--primary-color);
}

.section-shareholder .shareholder-list .shareholder-list-item + .shareholder-list-item {
    padding-top: 15px;
    border-top: 1px solid var(--primary-color);
}

.section-shareholder .section-decor .decor-top {
    width: 345px;
    top: calc(-1 * (315px / 2));
    right: calc(-1 * (345px / 2));
}

.section-shareholder .shareholder-detail {
    border-radius: 16px 0 16px 0;
}

.section-shareholder .shareholder-detail .shareholder-image:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}

.section-shareholder .shareholder-detail .shareholder-image .ratio {
    --bs-aspect-ratio: calc(365 / 504 * 100%);
}

.section-shareholder .shareholder-detail .shareholder-content {
    padding: 0 40px;
}

.section-shareholder .shareholder-detail .shareholder-content .shareholder-content_title {
    font-size: 1.675em;
    font-weight: 700;
    margin-bottom: 30px;
}

.section-shareholder .shareholder-detail .shareholder-content .shareholder-content_desc .shareholder-content_desc__top {
    font-size: 1.575em;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    margin-bottom: 12px;
}

.section-shareholder .shareholder-detail .shareholder-content .shareholder-content_desc .shareholder-content_desc__bottom {
    font-size: 1.225em;
}

.section-shareholder .shareholder-detail .shareholder-content .shareholder-content_text {
    margin-top: 45px;
}

.articles-list .article-item {
    border-radius: 8px 0 8px 0;
    background-color: #f4f4f4;
}

.articles-list .article-item .article-time {
    background-color: var(--primary-color);
    width: 80px;
    padding: 5px;
    line-height: 1.3;
}

.articles-list .article-item .article-time > span {
    font-size: 1.875em;
}

.articles-list .article-item .article-content .article-title {
    font-size: 1.15em;
}

.article-overlay {
    border-radius: 16px 0 16px 0;
}

.article-overlay .article-image:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: var(--transition-default);
    background: rgba(0, 0, 0, .5);
}

.article-overlay .article-image .ratio {
    --bs-aspect-ratio: calc(365 / 504 * 100%);
}

.article-overlay .article-content .article-title {
    font-size: 1.45em;
    line-height: 1.4;
}

.article-overlay .article-content .article-time {
    opacity: .9;
    margin-top: 18px;
}

.article-overlay .article-category {
    margin-bottom: 10px;
    font-weight: 700;
    color: var(--bs-white);
    font-size: 1.075em;
    letter-spacing: 0.05em;
}

.slider-article .swiper-slide {
    border-radius: 16px 0 16px 0;
    overflow: hidden;
}

.slider-article .swiper-slide.swiper-slide-active .article-overlay .article-image:before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40.63%, rgba(0, 0, 0, .5) 100%);
    filter: drop-shadow(0 4px 30px rgba(0, 0, 0, .2));
}

.section-responsibility {
    background-color: #f4f4f4;
    padding: 80px 0;
}

.section-responsibility .slider-theme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.section-responsibility .slider-theme .slider-pagination {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-responsibility .slider-theme .slider-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 2px solid var(--primary-color);
    font-size: 1.3em;
    color: transparent;
    background-color: transparent;
    transition: var(--transition-default);
    overflow: hidden;
    opacity: 1;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    user-select: none;
}

.section-responsibility .slider-theme .slider-pagination .swiper-pagination-bullet:hover {
    background-color: var(--primary-color);
}

.section-responsibility .slider-theme .slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    background-color: transparent;
}

.section-responsibility .slider-theme .slider-navigation {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-responsibility .slider-theme .slider-navigation .slider-navigation_button {
    position: relative;
    top: unset;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    left: unset;
    right: unset;
    box-shadow: none;
}

.section-responsibility .slider-theme .slider-navigation .slider-navigation_button > i {
    font-weight: 500;
}

.section-responsibility .slider-theme .slider-navigation .slider-navigation_button:hover {
    color: var(--bs-white);
}

.responsibility-image {
    border-radius: 16px 0 16px 0;
}

.responsibility-image .ratio {
    --bs-aspect-ratio: calc(365 / 504 * 100%);
}

.responsibility-image:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: var(--transition-default);
    background: rgba(0, 0, 0, .5);
}

.slider-responsibility .swiper-slide {
    border-radius: 16px 0 16px 0;
    overflow: hidden;
}

.slider-responsibility .swiper-slide.swiper-slide-active .responsibility-image:before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40.63%, rgba(0, 0, 0, 0) 100%);
    filter: drop-shadow(0 4px 30px rgba(0, 0, 0, 0));
}

.slider-responsibility_content .section-heading .heading-title {
    color: var(--primary-color);
}

.footer {
    background-color: var(--primary-color);
    padding: 48px 0 32px;
    position: relative;
    overflow: hidden;
}

.footer .footer-decor {
    bottom: -10px;
    right: -360px;
    transform: rotate(-6.29deg);
    width: 974px;
    height: 455px;
    mix-blend-mode: screen;
    position: absolute;
}

.footer .footer-item .footer-title {
    margin-bottom: 20px;
    color: var(--bs-white);
    font-size: 1.225em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .015em;
}

.footer .footer-item .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px;
}

.footer .footer-item .footer-list .footer-list_item {
    color: var(--bs-white);
    font-size: 1.15em;
}

.footer .footer-item .footer-list .footer-list_item > i {
    width: 15px;
    margin-right: 7px;
    text-align: center;
    color: var(--bs-white);
}

.footer .footer-item .footer-list .footer-list_item:hover {
    color: var(--secondary-color);
}

.footer .footer-item .footer-social {
    margin-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
}

.footer .footer-item .footer-social .footer-social_item > img {
    width: 32px;
    height: 32px;
    overflow: hidden;
}

.footer .footer-bottom {
    margin-top: 48px;
    padding-top: 16px;
    border-top: 1px solid var(--bs-white);
    font-size: 1.15em;
}

.footer .footer-navigation {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer .footer-navigation .footer-navigation_item {
    color: var(--bs-white);
}

.footer .footer-navigation .footer-navigation_item:hover {
    color: var(--secondary-color);
}

.footer .footer-scroll {
    position: absolute;
    top: 24px;
    right: 0;
}

.footer .footer-scroll .button-scroll {
    height: 38px;
    width: 38px;
    border: 2px solid var(--bs-white);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--bs-white);
    font-size: 1.3em;
    border-radius: 50%;
    outline: none;
    box-shadow: none;
    transition: var(--transition-default);
}

.footer .footer-scroll .button-scroll:hover {
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.section-breadcrumb {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-attachment: fixed;
}

.section-breadcrumb .breadcrumb-inner {
    position: relative;
    overflow: hidden;
    padding: 5px 0;
}

.section-breadcrumb .breadcrumb-inner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, .65);
}

.section-breadcrumb .breadcrumb-inner .breadcrumb .breadcrumb-item {
    color: var(--bs-white);
    font-size: 1.075em;
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.section-breadcrumb .breadcrumb-inner .breadcrumb .breadcrumb-item > a {
    color: var(--bs-gray-300);
    display: inline-flex;
    align-items: center;
    gap: 3px;
    padding: 10px 0;
}

.section-breadcrumb .breadcrumb-inner .breadcrumb .breadcrumb-item > a:hover {
    color: var(--bs-white);
}

.section-breadcrumb .breadcrumb-inner .breadcrumb .breadcrumb-item + .breadcrumb-item {
    padding-left: 0;
}

.section-breadcrumb .breadcrumb-inner .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    float: none;
    margin-left: 13px;
    padding-right: 13px;
    content: "\f105";
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    font-size: 1.3em;
}

.section-pagination {
    margin-top: 30px;
}

.section-pagination .pagination {
    margin-bottom: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.section-pagination .pagination .page-item {
    margin: 0 4px;
}

.section-pagination .pagination .page-item .page-link {
    border: 0;
    color: var(--bs-gray-700);
    background-color: transparent;
    border-radius: 4px;
    margin-left: 0;
    padding: 6px 14px 6px;
    font-size: 1.15em;
}

.section-pagination .pagination .page-item .page-link:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.section-pagination .pagination .page-item .page-link:hover {
    color: var(--primary-color);
}

.section-pagination .pagination .page-item.active .page-link {
    color: var(--bs-white);
    background-color: var(--primary-color);
}

.page-category .category-title {
    font-size: 2.15em;
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 30px;
}

.page-category .category-list {
    display: grid;
    gap: 30px;
    grid-template-areas:
            "a a b b"
			"a a c d";
}

.page-category .category-list .category-item:nth-child(1) {
    grid-area: a
}

.page-category .category-list .category-item:nth-child(1) .article-overlay .article-image .ratio {
    --bs-aspect-ratio: calc(547 / 608 * 100%);
}

.page-category .category-list .category-item:nth-child(2) {
    grid-area: b
}

.page-category .category-list .category-item:nth-child(2) .article-overlay .article-image .ratio {
    --bs-aspect-ratio: calc(324 / 608 * 100%);
}

.page-category .category-list .category-item:nth-child(3) {
    grid-area: c
}

.page-category .category-list .category-item:nth-child(4) {
    grid-area: d;
}

.page-category .category-list .category-item:nth-child(3) .article-overlay,
.page-category .category-list .category-item:nth-child(4) .article-overlay {
    font-size: .775em;
}

.page-category .category-list .category-item:nth-child(3) .article-overlay .article-content,
.page-category .category-list .category-item:nth-child(4) .article-overlay .article-content {
    padding: 15px !important;
}

.page-category .category-list .category-item:nth-child(3) .article-overlay .article-image .ratio,
.page-category .category-list .category-item:nth-child(4) .article-overlay .article-image .ratio {
    --bs-aspect-ratio: calc(193 / 291 * 100%);
}

.page-category .category-list .category-item .article-overlay .article-image .ratio img {
    transition: var(--transition-default);
}

.page-category .category-list .category-item .article-overlay .article-image:before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50.52%, rgba(0, 0, 0, 0.6) 100%);
    z-index: 1;
    top: unset;
    bottom: 0;
}

.page-category .category-list .category-item .article-overlay:hover .article-image .ratio img {
    transform: scale(1.15);
}

.article-card {
    border-radius: 16px 0 16px 0;
    overflow: hidden;
    height: 100%;
}

.article-card .card-image {
    overflow: hidden;
}

.article-card .card-image img {
    transition: var(--transition-default);
}

.article-card .card-title {
    font-size: 1.3em;
    color: var(--bs-black);
    font-weight: 700;
    line-height: 1.4;
    transition: var(--transition-default);
}

.article-card .card-time {
    color: #868484;
}

.article-card:hover .card-image img {
    transform: scale(1.15);
}

.article-card:hover .card-title {
    color: var(--primary-color);
}

.article-detail .article-title {
    font-size: 2.2em;
    color: var(--bs-black);
    margin-bottom: 8px;
    font-weight: 700;
}

.article-detail .article-meta {
    margin-bottom: 24px;
    color: var(--bs-gray-600);
}

.article-detail .article-social {
    border-top: 1px solid var(--bs-gray-300);
    margin-top: 24px;
    padding-top: 24px;
}

.article-detail .article-social > ul > li > * {
    height: 20px !important;
    line-height: 20px;
}

.detail-content {
    line-height: 1.6;
    font-size: 1.15em;
    color: var(--bs-gray-800);
}

.detail-content p,
.detail-content ol,
.detail-content ul,
.detail-content blockquote {
    margin-bottom: 16px;
}

.detail-content ul,
.detail-content ol {
    padding-left: 16px;
    line-height: 1.6;
}

.detail-content p:last-child,
.detail-content ol:last-child,
.detail-content ul:last-child {
    margin-bottom: 0;
}

.detail-content h1,
.detail-content h2,
.detail-content h3,
.detail-content h4,
.detail-content h5,
.detail-content h6 {
    margin-bottom: 10px;
    font-weight: 700;
}

.detail-content h1 b,
.detail-content h1 strong,
.detail-content h2 b,
.detail-content h2 strong,
.detail-content h3 b,
.detail-content h3 strong,
.detail-content h4 b,
.detail-content h4 strong,
.detail-content h5 b,
.detail-content h5 strong,
.detail-content h6 b,
.detail-content h6 strong,
.detail-content strong,
.detail-content b {
    font-weight: 700;
}

.detail-content h2 {
    font-size: 1.375em;
}

.detail-content h3 {
    font-size: 1.15em;
}

.detail-content h4,
.detail-content h5,
.detail-content h6 {
    font-size: 1em;
}

.detail-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.detail-content .table {
    --bs-table-border-color: var(--bs-gray-500)
}

.detail-content .table th,
.detail-content .table td {
    padding: 10px;
    min-width: 150px;
}

.detail-content .table td ul {
    padding-left: 24px;
}

.detail-content blockquote {
    padding: 15px 15px 15px 45px;
    border-left: 5px solid var(--primary-color);
    background: rgba(var(--primary-rgb), .05);
    position: relative;
}

.detail-content blockquote:before {
    position: absolute;
    content: "\f10d";
    font-family: "Font Awesome 5 Pro";
    font-size: 1.5em;
    color: var(--primary-color);
    top: 10px;
    left: 10px;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    font-weight: 700;
    line-height: 1;
}

.section-card {
    border: 1px solid var(--bs-gray-300);
    border-radius: 4px;
    overflow: hidden;
}

.section-card + .section-card {
    margin-top: 20px;
}

.section-card .card-title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 1.45em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.section-card .card-desc .card-desc_item:first-child {
    margin-top: 0;
}

.section-card .card-desc .card-desc_item {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.section-card .card-desc .card-desc_item .icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--bs-gray-200);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 1.15em;
    flex-shrink: 0;
    margin-right: 8px;
}

.section-card .card-desc .card-desc_item .content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section-card .card-desc .card-desc_item .content .title {
    font-weight: 700;
    color: var(--bs-gray-900);
    text-transform: uppercase;
    font-size: 1em;
}

.section-card .card-desc .card-desc_item .content .text {
    color: var(--bs-gray-700);
}

.section-card .card-desc .card-desc_item .content .text p:last-child {
    margin-bottom: 0;
}

.section-card .card-desc .card-desc_item .content .text > a {
    color: inherit;
    text-decoration: none;
    transition: var(--transition-default);
}

.section-card .card-desc .card-desc_item .content .text > a:hover {
    color: var(--primary-color);
}

.section-card .card-map iframe {
    width: 100%;
    vertical-align: middle;
}

.section-form .form-floating > label {
    color: var(--bs-gray-600);
}

.section-form .form-floating > .form-control {
    height: calc(3.25rem + 2.5px);
    padding-top: .95rem;
}

.description-item {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.description-item .description-image {
    width: 35%;
    flex-shrink: 0;
    border-radius: 24px 0 24px 0;
    overflow: hidden;
}

.description-item .description-content .description-title {
    font-size: 2.15em;
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 20px;
}

.description-item .description-content .description-decor {
    font-size: 1.225em;
    line-height: 1.6;
    display: flex;
    gap: 20px;
}

.description-item .description-content .description-decor + .description-decor {
    margin-top: 30px;
}

.description-item .description-content .description-decor .description-decor_icon {
    width: 80px;
    flex-shrink: 0;
}

.description-item .description-content .description-text {
    font-size: 1.225em;
    line-height: 1.6
}

.description-item .description-content .description-text img {
    margin-bottom: 16px;
}

.description-item .description-content .description-text p:last-child,
.description-item .description-content .description-text ul:last-child,
.description-item .description-content .description-text ol:last-child {
    margin-bottom: 0
}

.description-item .description-content .description-link {
    margin-top: 16px;
}

.description-item .description-content .description-link .description-link_inner {
    align-self: flex-end;
    font-size: 16px;
    padding: 5px 10px 5px 0;
    display: inline-flex;
    color: var(--bs-black);
    font-weight: 500;
    letter-spacing: .05em;
    position: relative;
    white-space: nowrap;
}

.description-item .description-content .description-link .description-link_inner:after {
    background-color: var(--primary-color);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    font-size: 16px;
    color: var(--bs-white);
    font-weight: 500;
    font-family: "Font Awesome 5 Pro";
    content: '\f105';
    animation: shineButton 2.4s cubic-bezier(0, 0, .5, 1.02) infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    transition: var(--transition-default);
}

.description-item .description-content .description-link .description-link_inner:hover {
    color: var(--primary-color);
}

.description-item .description-content .description-link .description-link_inner:hover:after {
    transform: translateX(5px);
}

.description-item:nth-of-type(odd) {
    flex-direction: row-reverse;
}

.description-item .description-image + .description-content {
    padding-left: 80px;
}

.description-item:nth-of-type(odd) .description-image + .description-content {
    padding-right: 80px;
    padding-left: 0;
}

.description-item + .description-item {
    padding-top: 80px;
}

.section-description_2 .description-item:nth-of-type(odd) {
    flex-direction: row;
}

.section-description_2 .description-item:nth-of-type(even) {
    flex-direction: row-reverse;
}

.section-description_2 .description-item .description-image + .description-content {
    padding-right: 0;
    padding-left: 80px;
}

.section-description_2 .description-item:nth-of-type(even) .description-image + .description-content {
    padding-right: 80px;
    padding-left: 0;
}


.section-banner {
    background-attachment: fixed;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-banner:before {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.table-recruitment {
    font-size: 1.3em;
}

.table-recruitment th {
    border-color: var(--primary-color);
}

.table-recruitment th,
.table-recruitment td {
    padding: 15px;
}

.table-recruitment .button-theme_small {
    font-size: .825em;
    padding: 5px 10px;
}

.table-recruitment .table-recruitment_social {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
	flex-shrink: 0;
	white-space: nowrap;
    gap: 5px;
}

.table-recruitment .table-recruitment_social .table-recruitment_social__item {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.table-recruitment .table-recruitment_social .table-recruitment_social__item > img {
    width: 20px;
    height: 20px;
    overflow: hidden;
}

.recruitment-detail .recruitment-information {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--primary-color);
}

.recruitment-detail .recruitment-information .recruitment-information_title {
    font-size: 2.15em;
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 15px;
}

.recruitment-detail .recruitment-information .recruitment-information_description {
    font-size: 1.3em;
    color: var(--bs-black);
}

.recruitment-detail .recruitment-information .recruitment-information_description .recruitment-information_text {
    color: #5b5b5b;
    margin-top: 5px;
}

.recruitment-description h2,
.recruitment-description h3,
.recruitment-description h4,
.recruitment-description h5,
.recruitment-description h6 {
    color: var(--primary-color);
}

.recruitment-description {
    line-height: 1.8;
    font-size: 1.225em;
    color: var(--bs-gray-800);
}

.recruitment-description p,
.recruitment-description ol,
.recruitment-description ul,
.recruitment-description blockquote {
    margin-bottom: 20px;
}

.recruitment-description ul,
.recruitment-description ol {
    padding-left: 16px;
    line-height: 1.6;
}

.recruitment-description p:last-child,
.recruitment-description ol:last-child,
.recruitment-description ul:last-child {
    margin-bottom: 0;
}

.recruitment-description h1,
.recruitment-description h2,
.recruitment-description h3,
.recruitment-description h4,
.recruitment-description h5,
.recruitment-description h6 {
    margin-bottom: 15px;
    font-weight: 700;
}

.recruitment-description h1 b,
.recruitment-description h1 strong,
.recruitment-description h2 b,
.recruitment-description h2 strong,
.recruitment-description h3 b,
.recruitment-description h3 strong,
.recruitment-description h4 b,
.recruitment-description h4 strong,
.recruitment-description h5 b,
.recruitment-description h5 strong,
.recruitment-description h6 b,
.recruitment-description h6 strong,
.recruitment-description strong,
.recruitment-description b {
    font-weight: 700;
}

.recruitment-description h2 {
    font-size: 1.375em;
}

.recruitment-description h3 {
    font-size: 1.15em;
}

.recruitment-description h4,
.recruitment-description h5,
.recruitment-description h6 {
    font-size: 1em;
}

.recruitment-description img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.recruitment-description .table {
    --bs-table-border-color: var(--bs-gray-500)
}

.recruitment-description .table th,
.recruitment-description .table td {
    padding: 10px;
    min-width: 150px;
}

.recruitment-description .table td ul {
    padding-left: 24px;
}

.recruitment-description blockquote {
    padding: 15px 15px 15px 45px;
    border-left: 5px solid var(--primary-color);
    background: rgba(var(--primary-rgb), .05);
    position: relative;
}

.recruitment-description blockquote:before {
    position: absolute;
    content: "\f10d";
    font-family: "Font Awesome 5 Pro";
    font-size: 1.5em;
    color: var(--primary-color);
    top: 10px;
    left: 10px;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    font-weight: 700;
    line-height: 1;
}

.recruitment-form {
    margin-top: 30px;
    padding: 30px;
    border-radius: 6px;
    border: 1px solid var(--bs-gray-400);
}

.recruitment-form .recruitment-form_item {
    display: flex;
    gap: 30px;
    font-size: 1.225em;
    color: var(--bs-gray-800);
}

.recruitment-form .recruitment-form_item + .recruitment-form_item {
    margin-top: 24px;
}

.recruitment-form .recruitment-form_item .recruitment-form_label {
    width: 210px;
    font-weight: 700;
    flex-shrink: 0;
    margin-bottom: 0;
}

.recruitment-form .recruitment-form_item .recruitment-form_input {
    position: relative;
    width: 100%;
}

.recruitment-form .recruitment-form_item .recruitment-form_input .recruitment-form_input__icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    height: calc(100% - 6px);
    width: 30px;
    font-size: 1em;
    background: var(--bs-white);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    pointer-events: none;
    cursor: pointer;
    opacity: .75;
}

.recruitment-form .recruitment-form_item .recruitment-form_input .recruitment-form_input__icon + .recruitment-form_input__field {
    padding-right: 50px;
}

.recruitment-form .recruitment-form_item .recruitment-form_input .recruitment-form_input__field {
    width: 100%;
    font-size: 1em;
    color: var(--bs-black);
    padding: 7px 15px;
    font-weight: 500;
}

.recruitment-form .recruitment-form_item .recruitment-form_input .recruitment-form_input__field[type="file"] {
    border: none;
    color: #5e5c5c;
    font-size: 16px
}

.recruitment-form .recruitment-form_item .recruitment-form_input .recruitment-form_input__field[type="file" i]::-webkit-file-upload-button {
    background: var(--bs-white);
    padding: 5px 15px;
    margin-inline-end: 10px;
    border-radius: 4px;
    height: 32px;
    border: 1px solid #D9d9d9;
    cursor: pointer;
    transition: var(--transition-default);
    color: #858383;
    font-size: 14px
}

.recruitment-form .recruitment-form_item .recruitment-form_input .recruitment-form_input__field[type="file" i]:hover::-webkit-file-upload-button {
    border: 1px solid var(--primary-color) !important
}

.recruitment-form .recruitment-form_item .recruitment-form_input .recruitment-form_desc {
    margin-top: 4px;
    color: #858383;
    font-size: 14px
}

.recruitment-form .recruitment-form_item .recruitment-form_input .recruitment-form_input__field::placeholder {
    opacity: .8;
}

.recruitment-form .recruitment-form_item .recruitment-form_input .recruitment-form_input__field:focus,
.recruitment-form .recruitment-form_item .recruitment-form_input .recruitment-form_input__field:hover {
    border-color: var(--primary-color) !important;
    box-shadow: none !important;
    outline: none !important;
}

.recruitment-sidebar {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.recruitment-sidebar .recruitment-sidebar_item {
    padding: 18px;
    border-radius: 6px;
    border: 1px solid var(--bs-gray-400);
}

.recruitment-sidebar .recruitment-sidebar_item .recruitment-sidebar_title {
    font-size: 1.225em;
    font-weight: 700;
    color: var(--bs-black);
    margin-bottom: 10px;
}

.recruitment-sidebar .recruitment-sidebar_item .recruitment-sidebar_social {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    gap: 8px;
}

.recruitment-sidebar .recruitment-sidebar_item .recruitment-sidebar_social .recruitment-sidebar_social__item {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.recruitment-sidebar .recruitment-sidebar_item .recruitment-sidebar_social .recruitment-sidebar_social__item > img {
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.recruitment-sidebar .recruitment-sidebar_item .recruitment-sidebar_form .recruitment-form_item {
    display: flex;
    gap: 30px;
    font-size: 1.225em;
    color: var(--bs-gray-800);
}


.recruitment-sidebar .recruitment-sidebar_item .recruitment-sidebar_form .recruitment-form_item .recruitment-form_input {
    position: relative;
    width: 100%;
}

.recruitment-sidebar .recruitment-sidebar_item .recruitment-sidebar_form .recruitment-form_item .recruitment-form_input .recruitment-form_input__icon {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    height: calc(100% - 6px);
    width: 30px;
    font-size: 1em;
    background: var(--bs-white);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    pointer-events: none;
    cursor: pointer;
    opacity: .75;
}

.recruitment-sidebar .recruitment-sidebar_item .recruitment-sidebar_form .recruitment-form_item .recruitment-form_input .recruitment-form_input__icon + .recruitment-form_input__field {
    padding-left: 40px;
}

.recruitment-sidebar .recruitment-sidebar_item .recruitment-sidebar_form .recruitment-form_item .recruitment-form_input .recruitment-form_input__field {
    width: 100%;
    font-size: 1em;
    color: var(--bs-black);
    padding: 7px 15px;
    font-weight: 500;
}

.recruitment-sidebar .recruitment-sidebar_item .recruitment-sidebar_form .recruitment-form_item .recruitment-form_input .recruitment-form_input__field::placeholder {
    opacity: .8;
}

.recruitment-sidebar .recruitment-sidebar_item .recruitment-sidebar_form .recruitment-form_item .recruitment-form_input .recruitment-form_input__field:focus,
.recruitment-sidebar .recruitment-sidebar_item .recruitment-sidebar_form .recruitment-form_item .recruitment-form_input .recruitment-form_input__field:hover {
    border-color: var(--primary-color) !important;
    box-shadow: none !important;
    outline: none !important;
}

.recruitment-sidebar .recruitment-sidebar_item .recruitment-sidebar_list {
    display: flex;
    flex-direction: column;
}

.recruitment-sidebar .recruitment-sidebar_item .recruitment-sidebar_list .recruitment-sidebar_list__item {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.15em;
    color: var(--bs-black);
    font-weight: 500;
    padding: 10px 0;
}

.recruitment-sidebar .recruitment-sidebar_item .recruitment-sidebar_list .recruitment-sidebar_list__item:before {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    content: "";
    background-color: #7e7e7e;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: -2px;
    transition: var(--transition-default);
}

.recruitment-sidebar .recruitment-sidebar_item .recruitment-sidebar_list .recruitment-sidebar_list__item + .recruitment-sidebar_list__item {
    border-top: 1px solid var(--bs-gray-300);
}

.recruitment-sidebar .recruitment-sidebar_item .recruitment-sidebar_list .recruitment-sidebar_list__item:hover {
    color: var(--primary-color);
}

.recruitment-sidebar .recruitment-sidebar_item .recruitment-sidebar_list .recruitment-sidebar_list__item:hover:before {
    background-color: var(--primary-color);
}

.project-item .project-content {
    width: 33.3333%;
    padding: 90px 75px 90px 95px;
    background: rgba(0, 0, 0, .5);
    box-shadow: 8px 4px 30px rgba(0, 0, 0, .1);
    backdrop-filter: blur(6.5px);
    height: 100%;
    color: var(--bs-white);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-item .project-content .project-content_title {
    font-size: 2.85em;
    font-weight: 700;
    margin-bottom: 45px;
}

.project-item .project-content .project-content_desc .project-content_text {
    font-size: 1.45em;
}

.project-item .project-content .project-content_desc .project-content_number {
    margin: 5px 0 10px;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 2em;
    line-height: 1;
}

.project-item .project-content .project-content_desc .project-content_number > span {
    font-size: 4em;
    display: inline-block;
}

.slider-project .swiper-slide .project-item {
    filter: blur(35px);
    transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1.2, 1.2) !important;
    transition: 1000ms ease-in-out !important;
}

.slider-project .swiper-slide.swiper-slide-active .project-item {
    filter: blur(0);
    transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1, 1) !important;
}

.section-gallery {
    position: relative;
}

.section-gallery:before {
    background-color: #fafafa;
    content: "";
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(1320px + ((100% - 1320px) / 2));
    position: absolute;
}

.section-gallery .section-description {
    padding-left: calc(100% / 3 - 1rem);
    padding-right: 90px;
}